<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjlvdQxB3RQ32OV7pxP883IrhLjRpvBTw</string>
	<key>GCM_SENDER_ID</key>
	<string>529843325868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hoslaApp</string>
	<key>PROJECT_ID</key>
	<string>facebook-clone-ab67f</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-clone-ab67f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529843325868:ios:e85d7002150fa7c4e44809</string>
</dict>
</plist>